
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Prompt.cshtml";
}

@section header{
<h1>Komunikat</h1>
}
@section message{
    Wystąpił błąd
}
@section button{
    <a asp-route="Routes" class="btn btn-default button-blue">Powrót</a>
}

