@{
    ViewData["Title"] = "DeleteSuccessful";
    Layout = "~/Views/Shared/Prompt.cshtml";
}

@section header{
    <h1>Usuwanie punktu turystycznego</h1>
}
@section message{
    Poprawnie usunięto punkt turystyczny z bazy danych.
}
@section button{
    <a asp-action="Delete_Edit" class="btn btn-default button-blue">OK</a>
}
