@model GOToPTTK.Model.Entities.Miejsce

@{
    ViewData["Title"] = "Edit";
}

<h2>Modyfikacja punktu turystycznego</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Nazwa" class="control-label"></label>
                <input asp-for="Nazwa" class="form-control" />
                <span asp-validation-for="Nazwa" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="WysokoscNpm" class="control-label"></label>
                <input asp-for="WysokoscNpm" class="form-control" />
                <span asp-validation-for="WysokoscNpm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SzerokoscGeograficzna" class="control-label"></label>
                <input asp-for="SzerokoscGeograficzna" class="form-control" />
                <span asp-validation-for="SzerokoscGeograficzna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DlugoscGeograficzna" class="control-label"></label>
                <input asp-for="DlugoscGeograficzna" class="form-control" />
                <span asp-validation-for="DlugoscGeograficzna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GodzinaOtwarcia" class="control-label"></label>
                <input type="time" asp-for="GodzinaOtwarcia" />
                <span asp-validation-for="GodzinaOtwarcia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GodzinaZamkniecia" class="control-label"></label>
                <input type="time" asp-for="GodzinaZamkniecia" />
                <span asp-validation-for="GodzinaZamkniecia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default" style="color: #0064b9; margin-left: 256px;">
                Modyfikuj <span class="glyphicon glyphicon-pencil" style="color: black;"></span>
            </button>
        </form>
    </div>
</div>

<div>
    </br>
    <a asp-action="Delete_Edit">Powrót do listy</a>
</div>

<style>
    label {
        color: #0064b9;
        text-decoration: underline;
    }
</style>
