@{
    ViewData["Title"] = "ModifySuccessful";
    Layout = "~/Views/Shared/Prompt.cshtml";
}

@section header{
    <h1>Modyfikacja punktu turystycznego</h1>
}
@section message{
    Poprawnie zmodyfikowano dane punktu turystycznego.
}
@section button{
    <a asp-action="Delete_Edit" class="btn btn-default button-blue">OK</a>
}
