
@{
    ViewData["Title"] = "CreateSuccessful";
    Layout = "~/Views/Shared/Prompt.cshtml";
}

@section header{ 
<h1>Dodawanie trasy punktowanej</h1>
}
@section message{ 
    Pomyślnie dodano odcinek do wykazu
}
@section button{ 
    <a asp-route="Routes" class="btn btn-default button-blue">Powrót</a>
}
