
@{
    ViewData["Title"] = "DeleteSuccessful";
    Layout = "~/Views/Shared/Prompt.cshtml";
}

@section header{
<h1>Usunięcie trasy punktowanej</h1>
}
@section message{
    Nie można usunąć trasy w obowiązującym wykazie tras
}
@section button{
    <a asp-route="Routes" class="btn btn-default button-blue">Powrót</a>
}

