
@{
    ViewData["Title"] = "Index";
}


<h1 class="text-center">Wykaz wycieczek punktowanych</h1>
<div class="margin-under-header"></div>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <a asp-route="CreateRoute" class="btn btn-primary btn-block button-lg-padding button-blue">Dodaj nową trasę punktowaną</a>
    </div>
</div>
<div class="margin-beetween-buttons"></div>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <a asp-route="ListRoutes" class="btn btn-primary btn-block button-lg-padding button-blue">Modyfikuj trasy punktowane</a>
    </div>
</div>

