
@{
    ViewData["Title"] = "CreateSuccessful";
    Layout = "~/Views/Shared/Prompt.cshtml";
}

@section header{ 
<h1>Modyfikacja trasy punktowanej</h1>
}
@section message{ 
    Pomyślnie zmodyfikowane dane odcinka
}
@section button{ 
    <a asp-route="ListRoutes" class="btn btn-default button-blue">Powrót</a>
}
