@{
    ViewData["Title"] = "Zarzadzanie";
}

<h1 class="text-center">Zarządzanie spisem punktów turystycznych</h1>
<div class="margin-under-header"></div>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <a asp-controller="Places" asp-action="Create" class="btn btn-primary btn-block button-lg-padding button-blue">Dodaj nowy punkt turystyczny</a>
    </div>
</div>
<div class="margin-beetween-buttons"></div>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <a asp-controller="Places" asp-action="Delete_Edit" class="btn btn-primary btn-block button-lg-padding button-blue">Usuń/Modyfikuj punkt turystyczny</a>
    </div>
</div>
